<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msgHelper.msghelper.mapper.MaterialLibGroupMapper">

    <insert id="insert">
        insert into msghelper.material_lib_group (group_name, create_type, create_time, update_time, material_lib_id,status)
        VALUES (#{groupName},#{createType},#{createTime},#{updateTime},#{materialLibId},#{status})
    </insert>

    <update id="UpdateLibGroup">
        update msghelper.material_lib_group
        <set>
            <if test="groupName != null and groupName != ''">
                group_name=#{groupName},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
        </set>
    <where>id=#{id}</where>
    </update>

</mapper>